.onboarding-progress-container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-right: 1px solid rgb(211, 208, 208);
}

.onboarding-progress-container h2{
    font-size: 1rem;
    /* letter-spacing: 1px; */
    color: #000072;
    font-weight: bold;
    margin-bottom: .5rem;
}

.onboarding-progress-container p{
    color: #666;
    margin-bottom: 1.5rem;
    font-size: .75rem;
    font-weight: 400;
}

.onboarding-step{
    position: relative;
    padding: .5rem .75rem;
    border-radius: 10px;
    border: 2px dashed #086CE7;
    margin-bottom: 1rem;
}

.onboarding-step h3{
    font-size: .9rem;
}

.onboarding-step p{
    margin-top: .5rem;
    font-size: .7rem;
    margin-bottom: 0;
    padding: .2rem .75rem;
    background-color: #FC8743;
    color:#fff;
    display: inline-block;
    border-radius: 4px;
}

.step-completed, .step-in-progress{
    background-color: #086CE7;
    color: #fff;
    border: 2px solid #086CE7;
}

.step-in-progress p{
    background-color: #FC8743;
    color: #fff;
}

.step-completed p{
    background-color: rgb(135, 213, 135);
    color: #fff;
}

.step-icon{
    position: absolute;
    top: 10px;
    right: 10px;
}